* { box-sizing: border-box; }
header, nav, main, footer { display: block; }
body { background-color: #314578;
      color: #000000;
	  font-family: Verdana, Arial, sans-serif;
}
header { background-color: #000000;
                    background-image: url(cover.png);
	               background-position: right;
				   background-repeat: no-repeat;
				   height: 200px;
				   width: 600;
}
h1 { padding-top: 50px;
             padding-left: 2em;
}
nav { font-weight: bold; 
	                 padding: 1em;
	               float: left;
	             width: 170px;
}
nav a { text-decoration: none; 
              display: block;
	            text-align: center;
	               font-weight: bold;
	                 border: 3px #CCCCCC outset;
	                   padding: 1em;
	                     margin-bottom: 1em;
}
nav a:link { color: #2452c7; }
nav a:visited { color: #2452c7; }
nav a:hover { color: #2452c7; 
             border: 3px #333333 inset; }
nav ul { list-style-type: none; 
       padding-left: 0;
}
.studio { font-style: italic; 
}
footer { background-color: #9BC1C2;
                         font-size: small;
	                  font-style: italic;
	              text-align: center;
	            padding: 1em;
}
main { padding-left: 2em;
        padding-right: 2em;
	       display: block;
	         margin-left: 170px;
	            padding-top: 1em;
}
.floatleft { float: left;
             margin-right: 4em; 
}
.clear { clear: both; }
#wrapper { width: 80%;
                     margin-left: auto;
		           margin-right: auto;
		        background-color: #fcebf5;
		      min-width: 1200px;
		   max-width: 1480px;
}
#mobile { display: none; }
#desktop { display: inline; } 
table { margin-left: auto;
       margin-right: auto;
	     width: 60%;
	        border: 1px solid #3F2860;
	          border-collapse: collapse;
	              margin-bottom: 1em; }
td, th { padding: 5px;
       border: 1px solid #3F2860; }
tr:nth-of-type(even) { background-color: #9BC1C2; }
caption { margin: 1em;
                 font-weight: bold;
		      font-size: 120%; }
label { float: left;
	    display: block;
	       text-align: right;
	         font-weight: bold;
	           width: 10em;
	             padding-right: 1em; 
}
input, textarea { display: block;
              margin-bottom: 2em; 
}
#mySubmit { margin-left: 12em; }
form { padding: 3em; }
@media only screen and (max-width: 1024px) {
	body { margin: 0;
	      padding: 0; }
	#wrapper { width: 100%;
	        min-width: 0; 
			   margin: 0;
			      padding: 0; }
	header { padding-top: 1px; }
	h1 { padding-top: 1em; }
	nav { float: none; 
	           width: auto;
		   padding-left: 2em; }
	nav a { padding: 0.2em;
	       margin-left: 0.3em;
		      float: left;
		         width: 23%; }
	main { padding: 2.5em 1em;
		       margin: 0;
		    font-size: 90%;
		  clear: both; }
	#hero img { width: 100%;
		       height: auto; }
	h2, h3, p, dl { padding-left: 2em;
	              padding-right: 2em; }
	main ul { margin-left: 2em; }
	.floatleft { margin-left: 2em;
	            margin-bottom: 1em; }
	.clear { padding-left: 2em; }
}
@media only all and (max-width: 768px) {
	h1 { font-size: 2em;
	       padding-top: 0.25em;
		      padding-left: 1.5em;
		        width: 85%;
		           text-align: center; }
	nav a { padding: 0.5em;
	             width: 45%;
		       float: left;
		     min-width: 6em;
		  margin-left: 0.5em; }
	main { padding-top: 0; }
	.floatleft { float: none; display: none; }
	#hero { display: none; }
	footer { padding: 0.5em;
	       margin: 0; }
	#mobile { display: inline; }
    #desktop { display: none; }	   
}